

First name <input type="text" [(ngModel)]="firstName" /><br>
Last name <input type="text" [(ngModel)]="lastName"/><br>
<input type="checkbox" name="size" value="checkbox" [(ngModel)]="enableDisable"/> Agree to terms and conditions <br>
<input type="button" value="Submit" [disabled]="!enableDisable"/>
<input type="reset" [disabled]="!(firstName.length > 0 || lastName.length > 0)" />
<br>
<!---------------Style-Binding-------->
<b>Set the Size</b>
<input type="number" name="number" value="1" min="100" max="500"  step="20" [(ngModel)]="size"/>

<div [class]="themeName" [style.max-width.px]="size" [style.max.height.px]="size">
</div>

<router-outlet></router-outlet>

